@model FleksTanya12d.Data.Sport

@{
    ViewData["Title"] = "Създаване";
}

<h1>Създаване</h1>

<style>
    body {
        background: rgb(91,167,227);
        background: linear-gradient(0deg, rgba(91,167,227,1) 0%, rgba(135,223,255,1) 31%, rgba(198,238,255,1) 100%);
    }
</style>

<h4>Спорт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="SportName" class="control-label"></label>*@
                Спорт
                <input asp-for="SportName" class="form-control" />
                <span asp-validation-for="SportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Description" class="control-label"></label>*@
                Описание
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Създай" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно към листа</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
