@{
    ViewData["Title"] = "Информация";
}
<h1>@ViewData["Title"]</h1>

<style>
    body{
        background: rgb(91,167,227);
        background: linear-gradient(0deg, rgba(91,167,227,1) 0%, rgba(135,223,255,1) 31%, rgba(198,238,255,1) 100%);
    }
   
</style>

<p>По света има хиляди сайтове за дрехи онлайн, но колко от тях предоставят лесен интерфейс, навигация и купуване. 
    Целта на "Спорт и стил" е предостави всички функции, артикули и оферти, необходими за едно пазаруване онлайн. 
    Удовлетворението и удобството са нашата цел номер 1!</p>

<img src="~/css/inf.png" size="1"/> 

<p>
    Контакти:<br />
    +35988455
    <br />
    +04490788
    <br />
    SportandStyle@gmail.com
</p>
