html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-color: #f79ffc;*/
    background: rgb(80,3,97);
    background: linear-gradient(90deg, rgba(80,3,97,1) 0%, rgba(161,47,199,1) 31%, rgba(206,65,249,1) 58%, rgba(90,1,109,1) 100%);
}