@model FleksTanya12d.Data.Type

@{
    ViewData["Title"] = "Изтриване";
}

<h1>Изтриване</h1>

<style>
    body {
        background: rgb(91,167,227);
        background: linear-gradient(0deg, rgba(91,167,227,1) 0%, rgba(135,223,255,1) 31%, rgba(198,238,255,1) 100%);
    }
</style>

<h3>Сигурен ли си, че искаш да изтриеш това?</h3>
<div>
    <h4>Тип</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Тип
           @* @Html.DisplayNameFor(model => model.TypeName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Обратно към листа</a>
    </form>
</div>
